.tooltip {
	padding: 15px;
	background-color: white;
	border: 1px solid black;
	color: black;
}

img.logo {
	width: 75px;
}

.slick-arrow {
  display: none !important;
}

td.firstColumn {
  width: 10%;
}

td {
  width: 18%;
}